/* Media Queries for Responsiveness */

/* Tablet and Small Laptops */
@media (max-width: 1024px) {
    .main h1 {
        font-size: 50px;
        /* margin-top: 30px; */
        text-align: center;
    }

    textarea {
        height: 200px;
        font-size: 16px;
    }

    .row {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    select,
    button {
        /* flex: 1 1 45%; */
        width: 50%;
    }
}

/* Mobile Devices */
@media (max-width: 768px) {
    .main h1 {
        font-size: 50px;
        margin-top: -30px;
        justify-items: center;
        width: 90%;
    }

    textarea {
        width: 80%;
        height: 150px;
        font-size: 16px;
        justify-content: center;
    }

    .row {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    select,
    button {
        width: 80%;
        flex-direction: column;
    }
}

/* Extra Small Devices (Phones) */
@media (max-width: 480px) {
    .main h1 {
        font-size: 35px;
    }

    textarea {
        height: 150px;
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }

    select {
        font-size: 16px;
        padding: 10px 15px;
    }
}
